/* .container {
    height: 175px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

.loginPage {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

.box { 
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2 { 
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    width: 585px;
    height: 114px;
    margin: 0 171px 0 42px;
    font-family: Inter;
    font-size: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
   */